{% extends "base.html" %}
{% load static %}

{% block title %}Календарь событий{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/tree/buttons_tree.css' %}">
<style>
  #calendar {
    max-width: 900px;
    margin: 40px auto;
  }
.btn-create-album {
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 20px;

}
</style>
{% endblock %}

{% block content %}
  <div style="max-width: 900px; margin: 10px auto;">
    {% if request.user.role == 'admin' or request.user.role == 'moderator' %}
      <a href="{% url 'events:event_create' %}" class="btn-create-album">
        Добавить событие
      </a>
    {% endif %}
    <div id="calendar"></div>
  </div>
{% endblock %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.17/index.global.min.js"></script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      events: "{% url 'events:events_json' %}",  // Обращение к correct path
      locale: 'ru',
    });
    calendar.render();
  });
</script>
{% endblock %}
