{% extends 'base.html' %}
{% load static %}

{% block title %}Редактирование альбома{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/gallery/album_create1.css' %}">

<div class="album-create-wrapper">
  <h2 class="album-create-title">Создание альбома</h2>

  <form method="post" enctype="multipart/form-data" class="album-create-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn-submit">Сохранить альбом</button>
  </form>

  <p class="album-create-footer">
    <a href="{% url 'gallery:album_detail' slug=album.slug %}">← Вернуться к альбому</a>
  </p>
</div>


{% endblock %}
