{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.css">
<link rel="stylesheet" href="{% static 'css/gallery/dropzone.css' %}">

<div class="container">
  <h2 class="text-xl font-semibold mb-4">Загрузка медиа в альбом: {{ album.title }}</h2>

  <form action="{% url 'gallery:file_upload' album.id %}"
        class="dropzone"
        id="media-dropzone"
        enctype="multipart/form-data">
    {% csrf_token %}
  </form>
</div>
{% endblock %}

{% block extra_js %}
<!-- Dropzone CDN -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/min/dropzone.min.js"></script>

<!-- Инициализация Dropzone -->
<script src="{% static 'js/gallery/dropzone-init.js' %}"></script>
{% endblock %}
