.gallery-single-credits dt {
  margin-top: 1em;
  font-weight: 600; /* можно сделать заголовки чуть жирнее */
  color: #444; /* например, немного темнее */
}

.gallery-single-credits dd {
  margin: 0 0 0.75em 0;
  padding-left: 10px; /* отступ слева для выравнивания по заголовкам */
  color: #666;
}

.album-action-buttons {
  display: flex;
  flex-direction: column;
  gap: 12px; /* отступ между кнопками */
  margin-bottom: 20px; /* чтобы отступ был и от следующего блока */
}


.album-action-buttons .btn-edit,
.album-action-buttons .btn-delete {
  display: block;
  padding: 10px 15px;
  font-weight: 600;
  font-size: 15px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
  border: 1.5px solid rgba(0, 0, 0, 0.15);
  background-color: transparent;
  color: #333;
  user-select: none;
}

.album-action-buttons .btn-edit:hover {
  border-color: #28a745;
  color: #28a745;
  background-color: rgba(40, 167, 69, 0.1);
}

.album-action-buttons .btn-delete:hover {
  border-color: #dc3545;
  color: #dc3545;
  background-color: rgba(220, 53, 69, 0.1);
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-top: 4px;
}

.tag {
  background-color: #eee;
  border-radius: 4px;
  padding: 3px 8px;
  font-size: 13px;
  color: #444;
}

.page-header-category.no-link {
  font-size: 16px;
  font-weight: 500;
  /* дополнительные стили */
}

