{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/persons.css' %}">
<link rel="stylesheet" href="{% static 'css/tree/buttons_tree.css' %}">
<link rel="stylesheet" href="{% static 'css/tree/paginate.css' %}">
{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4 px-3">
  <h1 class="text-center m-0">Члены Семьи</h1>
</div>

<div class="polaroid-gallery-wrapper position-relative px-3">

  <div class="inline-controls mb-3 d-flex justify-content-between align-items-center">
    <form method="get" class="filter-inline-group search-group d-flex align-items-center gap-2">
      <input type="text" name="search" id="search" value="{{ search }}" placeholder="Введите имя или фамилию">
      <button type="submit" class="btn-create-album">Поиск</button>
    </form>
    {% if request.user.role == 'admin' or request.user.role == 'moderator' %}
      <a href="{% url 'family_tree:person_create' %}" class="btn-create-album">
        Добавить члена семьи
      </a>
    {% endif %}
  </div>

  <div class="polaroid-gallery">
    {% for person in persons %}
      {% include 'family_tree/includes/inc_person.html' with person=person %}
    {% empty %}
      <p>Нет данных о людях.</p>
    {% endfor %}
  </div>

  <!-- Пагинация -->
  {% if is_paginated %}
  <div class="pagination mt-4 d-flex justify-content-center">
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page=1{% if search %}&search={{ search }}{% endif %}">«</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if search %}&search={{ search }}{% endif %}">‹</a>
        </li>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <li class="page-item active">
            <a class="page-link" href="#">{{ num }}</a>
          </li>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <li class="page-item">
            <a class="page-link" href="?page={{ num }}{% if search %}&search={{ search }}{% endif %}">{{ num }}</a>
          </li>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if search %}&search={{ search }}{% endif %}">›</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{% if search %}&search={{ search }}{% endif %}">»</a>
        </li>
      {% endif %}
    </ul>
  </div>
  {% endif %}
</div>
{% endblock %}