{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/persons.css' %}">
<link rel="stylesheet" href="{% static 'css/tree/buttons_tree.css' %}">
{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4 px-3">
  <h1 class="text-center m-0">Члены Семьи</h1>
</div>

<div class="polaroid-gallery-wrapper position-relative px-3">

  <div class="inline-controls mb-3">
    <div class="filter-inline-group search-group">
      <input type="text" name="search" id="search" value="{{ search }}" placeholder="Введите имя или фамилию">
    </div>
    <a href="{% url 'family_tree:person_create' %}" class="btn-create-album">
      Добавить члена семьи
    </a>
  </div>

  <div class="polaroid-gallery">
    {% for person in persons %}
      {% include 'family_tree/includes/inc_person.html' with person=person %}
    {% empty %}
      <p>Нет данных о людях.</p>
    {% endfor %}
  </div>
</div>
{% endblock %}
