{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/form_style_create12.css' %}">
{% endblock %}

{% block content %}
<div class="formbg">
  {% if object %}
  <h2>Обновите данные</h2>
  {% else %}
  <h2>Введите данные</h2>
  {% endif %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-grid">
      {% for field in form %}
        <div class="field">
          {{ field.label_tag }}
          {{ field }}
          {% if field.errors %}
            <div class="field-errors">{{ field.errors }}</div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    <div class="form-submit">
      <button type="submit">
        {% if object %}
          Сохранить
        {% else %}
          Добавить
        {% endif %}
      </button>

      {% if object %}
      <a href="{% url 'users:user_profile' %}" class="btn-cancel">← Назад</a>
      {% endif %}
    </div>
  </form>
</div>
{% endblock %}
