{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/persons.css' %}">
<link rel="stylesheet" href="{% static 'css/tree/buttons_tree.css' %}">
{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4 px-3">
  <h1 class="text-center m-0">Члены Семьи</h1>
</div>

<div class="polaroid-gallery-wrapper position-relative px-3">

  <div class="inline-controls mb-3 d-flex justify-content-between align-items-center">
    <form method="get" class="filter-inline-group search-group d-flex align-items-center gap-2">
      <input type="text" name="search" id="search" value="{{ search }}" placeholder="Введите имя или фамилию">
      <button type="submit" class="btn-create-album">Поиск</button>
    </form>
    {% if request.user.role == 'admin' or request.user.role == 'moderator' %}
      <a href="{% url 'family_tree:person_create' %}" class="btn-create-album">
        Добавить члена семьи
      </a>
    {% endif %}
  </div>

  <div class="polaroid-gallery">
    {% for person in persons %}
      {% include 'family_tree/includes/inc_person.html' with person=person %}
    {% empty %}
      <p>Нет данных о людях.</p>
    {% endfor %}
  </div>
</div>
{% endblock %}
