{% extends 'base.html' %}
{% load static %}

{% block title %}Генеалогическое дерево{% endblock %}

{% block content %}
<!-- Treant.js стили -->
<link rel="stylesheet" href="{% static 'libs/treant/Treant.css' %}">
<link rel="stylesheet" href="{% static 'libs/treant/perfect-scrollbar.css' %}">
<!-- Наши стили -->
<link rel="stylesheet" href="{% static 'css/tree/modal.css' %}">
<link rel="stylesheet" href="{% static 'css/tree/modal_check.css' %}">
<link rel="stylesheet" href="{% static 'css/tree/tree_card.css' %}">
<link rel="stylesheet" href="{% static 'css/tree/button.css' %}">


<h1 style="text-align: center;">{{ title }}</h1>
<!-- КНОПКА для открытия модального окна -->
<div class="tree-controls">
  <button id="openModalBtn" class="btn-create-album">Настроить дерево</button>
</div>

<!-- КОНТЕЙНЕР ДЛЯ ДЕРЕВА -->
<div id="tree-simple" style="width: 100%; height: 700px;"></div>

<!-- МОДАЛЬНОЕ ОКНО -->
<div id="rootModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Выберите корень дерева</h2>
    <form id="personSelectForm" onsubmit="return false;">
      <label for="personSelect">Персона:</label>
      <select id="personSelect">
        {% for person in people %}
          <option value="{{ person.id }}" {% if person.id == root_person.id %}selected{% endif %}>
            {{ person.full_name }}
          </option>
        {% endfor %}
      </select>
      <button type="button" id="buildTreeBtn">Построить дерево</button>
    </form>
  </div>
</div>

<!-- Treant.js скрипты -->
<script src="{% static 'libs/treant/jquery.min.js' %}"></script>
<script src="{% static 'libs/treant/raphael.js' %}"></script>
<script src="{% static 'libs/treant/perfect-scrollbar.js' %}"></script>
<script src="{% static 'libs/treant/Treant.js' %}"></script>
<!-- Наш JS -->
<script src="{% static 'js/tree/modal.js' %}"></script>
<script src="{% static 'js/tree/modal_check.js' %}"></script>
<script src="{% static 'js/tree/tree.js' %}"></script>

<script>
  const rootId = {{ root_person.id|default:"null" }};
  console.log("rootId в шаблоне:", rootId);
</script>

<script>
  document.getElementById('buildTreeBtn').addEventListener('click', function() {
    const selectedId = document.getElementById('personSelect').value;
    const targetUrl = `/tree/${selectedId}/`;
    window.location.href = targetUrl;
  });
</script>

{% endblock %}
