{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Treant.js стили -->
<link rel="stylesheet" href="{% static 'libs/treant/Treant.css' %}">
<link rel="stylesheet" href="{% static 'libs/treant/perfect-scrollbar.css' %}">
<!-- Наши стили -->
<link rel="stylesheet" href="{% static 'css/tree/tree.css' %}">

<!-- Контейнер для дерева -->
<div id="tree-simple" style="width: 100%; height: 700px;"></div>

<script>
  const rootId = {{ root_person.id|default:"null" }};
  console.log("rootId в шаблоне:", rootId);
</script>

<!-- Treant.js скрипты -->
<script src="{% static 'libs/treant/jquery.min.js' %}"></script>
<script src="{% static 'libs/treant/raphael.js' %}"></script>
<script src="{% static 'libs/treant/perfect-scrollbar.js' %}"></script>
<script src="{% static 'libs/treant/Treant.js' %}"></script>
<!-- Наш JS -->
<script src="{% static 'js/tree/tree.js' %}"></script>

{% endblock %}
