{% extends 'base.html' %}
{% load static %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/users/reg_form.css' %}">

<div class="register-wrapper">
  <div class="register-image">
    <img src="{% static 'img/formlogin.webp' %}" alt="Сброс пароля">
  </div>

  <div class="register-form-container">
    <h2 class="register-title">Сброс пароля</h2>

    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
      {% endfor %}
    {% endif %}

    <form method="post" class="register-form">
      {% csrf_token %}
      {{ form.as_p }}

      <button type="submit" class="btn-submit">Сбросить пароль</button>
    </form>

    <p class="register-footer">
      Вспомнили пароль? <a href="{% url 'users:user_login' %}">Войти</a>
    </p>
  </div>
</div>
{% endblock %}
